.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.shape {
}
.image {
}
.primary_button {
  color:#FFFFFF;
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.menu_item {
}
.connector {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.label {
  font-size:14px;
  text-align:left;
}
.icon {
}
.shape1 {
  font-size:13px;
  color:#000000;
}
.horizontal_line {
}
.paragraph1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.table {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.table_cell1 {
  font-size:13px;
  color:#000000;
}
.droplist {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.el-button-primary {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
.ellipse {
}
.icon1 {
}
.tree_node {
  text-align:left;
}
.checkbox {
  text-align:left;
}
.shape2 {
}
.image1 {
}
.el-button {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:center;
}
.inputed {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
.paragraph2 {
  text-align:left;
}
textarea, select, input, button { outline: none; }
